@import '../core/variables';

.converterCol {
    margin: 2rem auto;
    padding: 0;
}

.converterCard {
    background-color: $secondary-color;
    color: $text-color;
    padding: 1em;
}

.converterForm {
    display: flex;
    align-items: center;
    background-color: $secondary-color;
    color: $text-color;

    .formGroup {
        margin: 1em 1em 1em 0;
    }

    .switchButton {
        color: #fff;
        padding: 1em;
        border-radius: 50%;
        border: 1px solid #fff;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: $primary-color;
            background-color: #fff;
            border: 1px solid $primary-color;
            transition: all .3s;
        }
    }
}