@import '../core/variables';

.mainHeader {
    background-color: $primary-color;
    color: $text-color;
    border-bottom: 1px #fff solid;

    a {
        color: $text-color;
    }
    
    .collapse {
        justify-content: center;
    
        .navbar-nav > a:hover {
            color: lighten($text-color, 20%); 
        }
    }
    
}
